/*LAYOUT*/
@media screen and (max-width: 1100px) { 
.desktop {display: none;}
html { font-size: 16px}
body {direction: rtl;font-family: almoni_tzar_aaalight;font-size: 16px;background: url("../images/bgmob.jpg") no-repeat top center;color: #fff;background-size: 100%;/* background-color: #000; */}
#top_wrapper {position: relative;width: 100%;top: 0;left: 0;}
.black { height: 15.84rem;    box-sizing: border-box;}
.green {height: 16.45rem;box-sizing: border-box;}
.last {height: 10.01rem;padding: 18.75% 6.7% 0 0;box-sizing: border-box;position: relative;}
.error {background-color: indianred !important;}
.ltr { direction: ltr}

/* HEADER*/
.first {padding: 1.54rem 5.9% 7.5% 0;width: 53.2%;height: 3rem;}
h1 {width: 94%;padding-bottom: 2.8%;}
#top_logo {width: 100%;}
.first p {font-size: 0.5rem;padding-right: 0.4%;letter-spacing: -0.008rem;padding-bottom: 1.4%;line-height: 0.52rem;}


#m_t_1 { word-spacing: 0.04rem; letter-spacing: -0.011rem;}
#m_t_2 span { padding-right: 1.7%;}
#m_t_3 { letter-spacing: 0.002rem; word-spacing: -0.01rem;}
.iphone #m_t_1 { word-spacing: initial; letter-spacing: initial;}
.iphone #m_t_2 { word-spacing: initial; letter-spacing: initial;}
.iphone #m_t_3 { word-spacing: initial; letter-spacing: initial;}

.orange {width: 47%;height: 0.61rem;border: 0.04rem solid #F78E1E;border-radius: 0.15rem;box-sizing: border-box;margin-right: -0.1%;font-size: 0.35rem;padding: 2.4% 3.1% 0 0;letter-spacing: 0.007rem;background-color: #475564;}

#laser {position: absolute;width: 51.6%;top: 1.2rem;left: 4.1%;}

.top-left {position: absolute;top: 12.32rem;width: 100%;}
#stamp {position: absolute;left: 3.3%;width: 18%;top: -2.63rem;}
#pros {height: 3.2rem;list-style: none;}
#pros li {float: right;width: 24.3%;margin-right: 5%;padding: 15.2% 2.1% 0 0;font-size: 0.4rem;line-height: 0.39rem;}
#pros #li_1st {background: url('../images/mli_1.png') no-repeat;background-size: 46%;background-position: 72% 2%;}
#pros #li_2nd {background: url('../images/mli_2.png') no-repeat;background-size: 44%;width: 27%;background-position: 55% 2%;padding: 14.9% 0.4% 0 0;}
#pros #li_3rd {background: url('../images/mli_3.png') no-repeat;background-size: 46%;background-position: 47% 1%;padding: 14.95% 2.4% 0 0;/* visibility: hidden; */}

#li_1st span { display: block; padding-right: 1%; letter-spacing: -0.003rem;}
#li_1st span.two { display: block; margin-right: -0.04rem;}
#li_2nd span { display: block; right: 0;}
#li_2nd span.two {margin-right: -0.4%;letter-spacing: -0.003rem;}

.superfarm {position: absolute;width: 32%;height: 0.6rem;margin-right: 6.3%;top: 15.04rem;}
.superfarm span {float: right;padding-top: 0.13rem;font-size: 0.22rem;}
.superfarm img {float: right;display: inline-block;margin-right: 3.3%;width: 61%;margin-top: -0.01rem;}

/*FORM AREA*/
#lead_form {padding: 0 6.1% 0 0;width: 54%;z-index: 20;position: relative;}
.form-title {font-size: 0.5rem;letter-spacing: 0.01rem;padding-bottom: 2.3%;}
.input-row {width: 92.4%;box-sizing: border-box;height: 1.16rem;margin-bottom: 0.14rem;}
#phone_row { margin-bottom: 0.18rem;}
.form-input {width: 100%;height: 100%;border: 0.03rem solid #fff;border-radius: 15px;color: #fff;box-sizing: border-box;padding: 0 5%;padding-top: 1.1%;font-size: 0.55rem;background-color: rgba(0,0,0,0);}
.iphone .form-input { border: 1px solid #fff;}
#form_submit {background: url('../images/send2.png') no-repeat center center;border: 0;width: 1.64rem;height: 0.92rem;margin-right: 67.3%;font-size: 0;background-size: 100%;margin-top: 0.1rem;}

#first_down {width: 1.2rem;height: 0.6rem;position: absolute;top: 15.83rem;margin-right: 44.3%; z-index: 100}
#second_down {width: 1.2rem;height: 0.6rem;position: absolute;top: 32.3rem;margin-right: 44%; z-index: 100}
.hidden-elem { display: none; }
.error {border: 1px solid red !important;background: #FF9999;}

/* PLACEHOLDERS */

.placeholder{opacity:1;opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input::-webkit-input-placeholder, ::-webkit-input-placeholder {opacity:1;opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input:-moz-placeholder, :-moz-placeholder {opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input::-moz-placeholder, ::-moz-placeholder {opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input:-ms-input-placeholder, :-ms-input-placeholder {opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input::-webkit-input-placeholder {opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}

/* thanks */
.thx {position: absolute;top: 5.8rem;right: 6.4%;box-sizing: border-box;width: 49.1%;height: 2.36rem;border: 2px solid #fff;border-radius: 9px;background-color: #475564;}

.thx span {font-size: 0.55rem;text-align: center;display: block;padding-top: 12.1%;letter-spacing: -0.005rem;margin-right: -0.4%;}


/* GREEN AREA */

.miki {height: 4.8rem;padding-bottom: 3%;padding-top: 1.01rem;}
.miki h3 {font-size: 0.4rem;padding-right: 5.7%;line-height: 0.68rem;padding-bottom: 2.2%;height: 0.68rem;}
#miki2 { float: right; margin-right: 6.7%; width: 43.7%;}
.miki p {font-size: 0.3rem;padding: 0.11rem 2.1% 0 0;float: right;line-height: 0.324rem;letter-spacing: 0.001rem;word-spacing: 0.014rem;}
.miki p span { display: block; margin-top: 0.32rem; padding-right: 0.4%;}
.opinions {height: 10rem;width: 100%;position: relative;}
.opinions h3 {font-size: 0.4rem;padding-right: 5.7%;line-height: 0.41rem;width: 100%;box-sizing: border-box;padding-bottom: 2.8%;}
.opinions ul { list-style: none; }
.person {padding-right: 6.7%;position: relative;height: 2.7rem;}
.space {padding-top: 0.33rem;height: 2.73rem;}
.person img {float: right;width: 47%;}
.person h4 {position: absolute;top: 2.05rem;font-size: 0.3rem;margin-right: 1.6%;word-spacing: 0.005rem;}
h4.extra-space {top: 2.39rem;}
.person p {float: right;font-size: 0.3rem;padding: 0.54rem 3.5% 0 0;letter-spacing: 0.005rem;word-spacing: 0.01rem;line-height: 0.321rem;}
.space p {letter-spacing: 0.005rem;word-spacing: -0.01rem;padding: 0.34rem 3.3% 0 0;}
p.mob-special { word-spacing: 0.01rem;}
h4.extra-space2 {top: 2.4rem;}

/* LAST */
#link {display: block;position: absolute;bottom: 0;width: 23.3%;height: 0.74rem;}
#logo2 {display: block;width: 100%;}
                 
.vid-box {width: 93.6%;height: 4.9rem;}

.under-vid { height: 0.6rem; margin-top: -0.04rem; box-sizing: border-box; background-color: #fff; color: #000; font-size: 0.23rem; font-family: arial; font-weight: bold; padding-right: 1.8%; padding-top: 0.23rem; word-spacing: -0.01rem;}
#youtube { width: 100%; height: 100%;}

.approved { margin-top: 1.6rem; margin-right: -2.9%; font-size: 0.21rem;}
.approved h4 { font-size: 0.32rem; padding-bottom: 0.9%;}
.approved h2 {font-family: almoni_tzar_aaaregular;padding-bottom: 0.9%;}
.approved span { font-size: 0.22rem; word-spacing: 0.004rem;}
}