* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p {
    margin: 0 0 20px;
}
.wpcf7-submit {
    font-style: normal;
    width: 100%;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #ccc;
	-webkit-box-shadow: 2px 2px 3px #ccc;
	box-shadow: 2px 2px 3px #ccc;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.rounded:focus {
	border-color: #339933;
}
button, input[type=submit] {
    outline: none;
    border:none;
    background-color: #FFF;
    background-image: none;
    border-color: #CCC;
    border-style: solid;
    border-width: 0px;
    color: #0056b3;
    display: inline-block;
    padding: 0px 0px;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 0em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: background-image .3s linear;
    -moz-transition: background-image .3s linear;
    -ms-transition: background-image .3s linear;
    -o-transition: background-image .3s linear;
    transition: background-image .3s linear;
}
.button, button, input[type=submit] {
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    border-width: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.custom-cf {
    background-color: transparent;
    padding: 5px 5px 0;
    margin: auto;
    width: 90%;
}
.uneditable-input, input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], textarea {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-color: #CCC;
    border-style: solid;
    border-width: 0px;
    background-color: #FFF;
    color: #555;
    font-size: 1em;
    padding: 6px 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.custom-cf .custom-cf-title {
    margin-bottom: 5px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    text-align: right;
    color:#000;
}
.custom-cf .cf-input-wrap {
    margin-bottom: 25px;
}
.custom-cf.style-cf-1 .cf-item {
    width: 25.5%;
    margin-right: 1.25%;
    float:left;
}
.wpcf7-form-control-wrap {
    position: relative;
    float:left;
}
.custom-cf .cf-item input {
    width: 100%;
    border: 1px solid #121212;
    font-size: 1.2em;
}
.custom-cf .cf-button-wrap input {
    background-color: #0056b3;
    border-color: 0px solid #0056b3;
    color: #fefefe;
    font-size: 1.6em;
}
.custom-cf .cf-custom-check {
    color: #fefefe;
    font-size: 1em;
    font-weight: 400;
}
@media screen and (max-width: 767px) {
    .custom-cf.style-cf-1 .cf-item, .custom-cf.style-cf-2 .cf-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .custom-cf .cf-item input {
        font-size: 0.93em;
    }
    .custom-cf.style-cf-1 .cf-item, .custom-cf.style-cf-2 .cf-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .custom-cf .cf-button-wrap input {
        font-size: 1.4em;
    }
    .custom-cf .cf-custom-check {
        font-size: 1em;
    }
}
@media screen and (max-width: 500px) {
    .custom-cf .cf-custom-check {
        position: relative;
        font-size: 0.8em;
        line-height: normal;
    }
}
.alert {
    padding: 5px 10px;
    font-size: 13px;
    margin-bottom: 10px;
    border: 1px solid #336600;
    background: #336600;
    border-radius: 4px;
    color: #fff;
    display: none;
}

.cf-submit-btn {
    background-color: #0099ff;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 65px;
    width: calc(100% - 60px) !important;
}

.cf-submit-btn span {
    color: white;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}

.cf-chevron {
    height: 65px;
    width: 60px;
    top: -0.5px !important;
    padding: 10px;
    float: right;
    font-size: 40px;
    background-color: #00AEEF;
    cursor: pointer;
    color: white;
}

.cf-reg-input input {
    height: 50px;
    border: 1px solid #D8D8D8 !important;
    border-radius: 6px;
    box-shadow: none;
}

.cf-btn-wrapper {
    width: 98%;
}

.cf-reg-input span {
    float: none !important;
}

@media screen and (min-width: 767px) {
    .cf-reg-input {
        width: 32% !important;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 766px) {
    .cf-reg-input {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .cf-btn-wrapper {
        width: 100% !important;
    }
    .cf-submit-btn span {
        font-size: 20px;
    }
}
@media screen and (max-width: 530px) {
    .cf-submit-btn span {
        font-size: 17px !important;
    }
}