.slide-popup-close {
	background: #f78f1e none repeat scroll 0 0;
	border-radius: 5px 0 0 5px;
	height: 50px;
	position: fixed;
	right: 0;
	top: 50%;
	width: 50px;
	padding: 6px
}
.slider-form #field_2_2>input {
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 15px !important;
	background: #ECEEEF;
	padding-right: 0px !important;
	height: 38px !important;
	margin-bottom: 0 !important;
	margin-top: 14px !important
}
.slideout-form #field_3_2>input {
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 15px !important;
	background: #ECEEEF;
	padding-right: 0px !important;
	height: 38px !important;
	margin-bottom: 0 !important;
	margin-top: 8px !important
}
.post-form #field_6_2>input {
	margin-bottom: 0 !important;
	margin-top: 8px !important
}
.single-post .sidebar_right .l-main .l-main-h main.l-content section.l-section div.l-section-h {
	padding-top: 5px !important
}
.for_blogpost .l-section-h.i-cf {
	padding-top: 0px !important
}
.single-post .sidebar_right .l-main .l-main-h main.l-content {
	border-right: 1px solid #787878 !important;
	margin-top: 64px !important;
	padding-right: 25px !important;
	margin-bottom: 64px !important
}
.single-post .for_blogpost .l-section-h .w-blogpost .w-blogpost-body h1.w-blogpost-title {
	border-bottom: 1px solid #787878 !important;
	padding-bottom: 20px !important
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
	.home-respo-border-bottom {
		border-bottom: 1px solid #eee !important;
		padding-bottom: 20px;
		margin-bottom: 20px !important
	}
	.single-post .sidebar_right .l-main .l-main-h main.l-content {
		border-right: none !important;
		margin-top: 0px !important
	}
	#home-color-box:hover {
		margin-top: 0px !important
	}
}
.widget_us_blog .w-grid-list .w-grid-item-h .w-hwrapper {
	display: none
}
.widget_us_blog .w-grid-list .w-grid-item-h .post_content {
	display: none
}
.widget_us_blog .w-grid-list .w-grid-item-h .btn {
	display: none
}
.about-color-heading .breadcrumb-container {
	margin: 0px 0px 20px -28px !important
}
section.for_comments #comments {
	display: none
}
.header_hor .l-subheader-h {
	position: static
}
.w-search.ush_search_1.layout_simple {
	position: absolute;
	right: 39%;
	top: 9px
}
.w-search.layout_simple button {
	background: #f78f1e none repeat scroll 0 0 !important;
	box-shadow: none !important;
	color: #fff !important;
	opacity: 1;
	height: 36px;
	line-height: 30px
}
.w-search input {
	background-color: #eceeef;
	border-radius: 0;
	box-shadow: none !important;
	height: 36px;
	line-height: 30px
}
.wpcf7-response-output {
	border: none!important;
	margin: 0!important;
	padding: 0!important
}
.w-tabs-item.active,
.w-tabs-item.active .w-tabs-item-h {
	background: #F78F1E !important
}
.tp-leftarrow {
	top: 120% !important;
	left: -12%!important;
	background: #F78F1E !important
}
.tp-rightarrow {
	top: 120% !important;
	left: 148%!important;
	background: #F78F1E !important
}
.sub-slider .tp-thumb-mask {
	max-width: 970px !important;
	overflow: hidden !important;
	width: 975px !important
}
.tp-thumbs {
	max-width: 975px !important;
	overflow: hidden !important;
	width: 970px !important;
	padding: 20px 0px 20px 0px !important
}
.tp-thumbs-inner-wrapper {
	right: -922px !important;
	width: 1892px !important
}
#home-color-box {
	transition: all 0.5s ease 0s
}
#home-color-box:hover {
	margin-top: -90px;
	position: relative;
	transition: all 0.4s ease 0s
}
.drrns .w-gallery-item-img {
	border: 1px solid #F78F1E
}
.drrns .w-gallery-item-img img {}.drrns .w-gallery-list .w-gallery-item {
	padding: 15px
}
.home-orange .vc_column-inner {
	background-position: center bottom !important
}
.home-red .vc_column-inner {
	background-position: center bottom !important
}
.home-green .vc_column-inner {
	background-position: center bottom !important
}
button {
	box-shadow: none!important
}
.w-portfolio.style_2 .w-portfolio-item-meta {
	background: #f78f1e none repeat scroll 0 0;
	padding: 5px
}
.w-portfolio.style_2 .w-portfolio-item-meta::before {
	background: #f78f1e none repeat scroll 0 0
}
.main-cform .wpcf7-form-control.wpcf7-submit {
	background: #F78F1E none repeat scroll 0 0;
	border-radius: 0;
	width: 100%
}
.main-cform .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	border-radius: 0;
	box-shadow: none;
	background: #ECEEEF
}
.Contact-Form .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	border-radius: 0;
	box-shadow: none
}
.Contact-Form textarea {
	border-radius: 0;
	box-shadow: none
}
.Contact-Form .wpcf7-form-control.wpcf7-text {
	border-radius: 0;
	box-shadow: none
}
.classic .ubtn {
	text-transform: capitalize !important
}
.classic-tab .w-tabs-list.items_2 {
	background: none!important;
	color: #fff !important
}
#video {
	position: relative;
	padding-bottom: 56.25%;
	/ 16: 9 / height: 0
}
#video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.Contact-Form .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	background: #f0f0f0 !important
}
.Contact-Form .wpcf7-form-control.wpcf7-text {
	background: #f0f0f0
}
.home-form {
	background: #fff none repeat scroll 0 0;
	position: absolute;
	right: 0px;
	top: -54px;
	border-radius: 0px 0px 5px 5px;
	z-index: 1;
	width: 243px
}
.header_hor .l-header {
	z-index: 3;
	position: static
}
.home-form .ajax-loader {
	display: none !important
}
.home-form .wpcf7-form-control.wpcf7-text {
	background: #eceeef none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	color: #777;
	height: 37px;
	padding: 5px 8px
}
.home-form .wpcf7-form>p {
	margin: 6px 0
}
.home-form .wpcf7-form-control.wpcf7-submit {
	background: #f78f1e none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	font-size: 20px;
	height: 37px;
	line-height: 28px;
	margin-top: 6px;
	padding: 5px 8px;
	text-transform: capitalize;
	width: 100%
}
.home-boxes a {
	color: #fff!important
}
.home-reviews .w-testimonial-h {
	padding: 0px !important;
	border: none !important
}
.home-reviews .w-testimonial-author {
	color: #f78f1e
}
.w-testimonial-author {
	color: #00AC7B
}
.home-reviews .w-testimonial-author-name {
	font-size: 14px !important;
	font-weight: bold
}
.l-subheader-cell.at_right {
	justify-content: left
}
.l-subheader-cell {
	flex-grow: 0
}
.sub-slider .tp-thumb-mask {
	max-width: 950px !important;
	overflow: hidden !important;
	width: 950px !important
}
.large-button {
	white-space: normal !important
}
.sub-slider .tp-thumb.selected {
	border: 2px solid #f78f1e
}
.tp-thumb {
	opacity: 1
}
.news-section .w-blog-list .w-blog-post-title {
	font-weight: bold
}
.news-section .w-blog-list .w-blog-post-more {
	background: #f78f1e none repeat scroll 0 0 !important;
	border: 1px solid #f78f1e !important;
	box-shadow: none !important;
	color: #fff !important
}
.news-section .w-blog-list .w-blog-post-more:hover {
	background: #c67218 none repeat scroll 0 0 !important;
	border: 1px solid#c67218 !important
}
.about-orange .vc_column-inner {
	margin-right: -97px;
	margin-top: 0 !important
}
.about-red .vc_column-inner {
	margin-right: -49px;
	margin-left: 49px;
	margin-top: 0 !important
}
.about-green .vc_column-inner {
	margin-left: 14px;
	margin-top: 0 !important;
	margin-right: -20px
}
.about-black .vc_column-inner {
	margin-right: 17px;
	margin-top: 0 !important;
	margin-right: -22px
}
.about-color-heading {
	padding-top: 32px !important
}
@media (min-width: 320px) and (max-width: 479.98px) {
	.resp-mt-top-from-hedin {
		margin-top: 3rem
	}
	.w-grid-item-elm.usg_post_taxonomy_1.color_link_inherit.post_taxonomy.style_badge>a {
		font-size: 10px !important
	}
	.w-grid-item-elm.usg_post_title_1.color_link_inherit.with_text_color.post_title.entry-title>a {
		font-size: 11px
	}
	.far.fa-clock,
	time {
		font-size: 12px !important
	}
	.w-grid-item-elm.usg_post_author_1.color_link_inherit.with_text_color.post_author.vcard.author {
		font-size: 12px !important
	}
	.w-grid-item-elm.usg_post_comments_1.color_link_inherit.with_text_color.post_comments.with_word {
		font-size: 12px !important
	}
	.res-mar-top {
		margin-top: 3rem
	}
	.aio-icon-description.ult-responsive,
	.aio-icon-description.ult-responsive a {
		font-size: 12px;
		line-height: 18px
	}
	.breadcrumb-container.theme1 {
		color: #fff !important;
		left: 4rem;
		position: fixed !important;
		right: auto;
		top: 63px;
		height: 30px !important;
		z-index: 999
	}
	.breadcrumb-container.theme1>ul li a,
	.breadcrumb-container.theme1>ul li span {
		color: #fff !important
	}
	.wpb_wrapper .w-image {
		margin-bottom: -2.5rem
	}
	.about-color-heading {
		padding-top: 0px !important
	}
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
	.slideout-form .name_first {
		width: 100% !important
	}
	.slideout-form_wrapper {
		margin: 0px 0px 20px 0px !important;
		padding: 20px 0px!important
	}
	.slide-popup-close {
		top: 50%
	}
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
	.main-popup {
		display: none !important
	}
}
@media only screen and (max-width: 640px) {
	.w-search.ush_search_1.layout_simple {
		display: none
	}
	.w-image.align_center.home-form-img {
		display: none
	}
}
@media only screen and (min-width: 641px) and (max-width: 950px) {
	.w-search.ush_search_1.layout_simple {
		position: absolute;
		right: 55px;
		top: -44px
	}
}
@media only screen and (min-width: 951px) and (max-width: 1250px) {
	.w-search.ush_search_1.layout_simple {
		position: absolute;
		right: 35%;
		top: 9px
	}
}
@media only screen and (max-width: 767px) {
	.header_hor .l-subheader-h {
		display: inherit;
		top: 5px
	}
	.home-form .vc_custom_heading {
		text-align: center !important;
		margin-top: 45px !important
	}
	.home-form {
		position: relative;
		margin: 0 15px !important
	}
	.home-row-three h3 {
		text-align: center !important
	}
	.home-row-three h4 {
		text-align: center !important
	}
	.footer-top .l-section-overlay {
		height: 49px
	}
	.footer-top .g-cols.vc_row.type_default.valign_top {
		max-height: 60px;
		height: 60px
	}
	.footer-bottom .vc_col-sm-6.wpb_column.vc_column_container {
		width: 50%
	}
	.about-row-three h4 {
		text-align: center !important
	}
	.product-slider-news .vc_column-inner {
		margin: 0 25px !important
	}
	.large-button .ubtn {
		width: 100% !important
	}
	.sub-bg .l-section-img.loaded {
		background-position: center 100px;
		background-size: 100% 25%
	}
	.cr-sub-bg .l-section-img.loaded {
		background-position: center 100px;
		background-size: 100% 18%
	}
	.cr-testi {
		padding: 0 5%
	}
	.c-form h3 {
		text-align: center !important
	}
	.aio-icon-component.c-info-1 {
		margin-left: 0 !important
	}
	.home-orange {
		margin-bottom: 25px !important
	}
	.home-red {
		margin-bottom: 25px !important
	}
	.home-green {
		margin-bottom: 25px !important
	}
	.vc_col-sm-4.wpb_column.vc_column_container.home-form {
		margin-top: 0 !importantmargin-left: 0 !important;
		margin-right: 0 !important
	}
	.home-video {
		text-align: center !important
	}
	.home-video h3 {
		text-align: center !important
	}
	.home-video h4 {
		text-align: center !important
	}
	.home-form {
		position: relative;
		margin-top: 50px !important;
		margin-left: 0 !important;
		z-index: 0 !important
	}
	.tab-row-menu .vc_column-inner {
		padding: 0!important
	}
	.tab-row .menu-baisc-menu-container {
		border-right: none !important
	}
	.tab-row .menu-dental-pro-menu-container {
		border-right: none !important
	}
	.tab-row .menu-technology-container {
		border-right: none !important
	}
	.tab-row .menu-clinical-resorces-container {
		border-right: none !important
	}
	.tab-row .menu-news-container {
		border-right: none !important
	}
	.product-slider-news .vc_col-sm-9 .vc_column-inner {
		padding: 0 !important
	}
	.product-slider-news .vc_col-sm-9 {
		margin-bottom: 65px !important
	}
	.product-slider-news .tp-rightarrow.tparrows.hesperiden.noSwipe {
		transform: matrix(1, 0, 0, 1, -155, -20) !important
	}
	.l-section.wpb_row.height_auto.product-top {
		padding-top: 50px !important
	}
	.product-top .ult-spacer {
		display: none !important
	}
	.classic-tab h1 {
		font-size: 28px !important
	}
	.classic-tab .g-cols.wpb_row.type_default.valign_top.vc_inner {
		padding-left: 0 !important
	}
	.home-main .vc_col-sm-4.wpb_column.vc_column_container.home-form {
		margin-right: -5px !important;
		margin-left: 25px !important;
		margin-bottom: 60px !important
	}
}
@media only screen and (max-width: 640px) {
	.home-slider {
		display: none
	}
	.bcure-header-logo {
		display: none
	}
	.home-form .w-image-h {
		display: none
	}
	.home-form-bottom .wpcf7-form-control.wpcf7-text {
		background: #eceeef none repeat scroll 0 0;
		border: medium none;
		border-radius: 0;
		box-shadow: none;
		color: #777;
		height: 37px;
		padding: 5px 8px
	}
	.home-form-bottom p {
		margin-bottom: 8px
	}
	.home-form-bottom h6 {
		text-align: center !important
	}
	.home-form-bottom .wpcf7-form-control.wpcf7-submit {
		background: #f78f1e none repeat scroll 0 0;
		border: medium none;
		border-radius: 0;
		box-shadow: none;
		color: #fff;
		font-size: 20px;
		height: 37px;
		line-height: 28px;
		margin-top: 6px;
		padding: 5px 8px;
		text-transform: capitalize;
		width: 100%
	}
	.cr-sub-bg .l-section-img.loaded {
		display: none
	}
	.cr-sub-bg .ult-spacer {
		display: none !important
	}
	.cr-sub-bg .w-grid-item-h {
		display: none
	}
	.cr-sub-bg .home-form {
		margin-top: 20px !important
	}
	.sub-bg .l-section-img.loaded {
		display: none
	}
	.sub-bg .ult-spacer {
		display: none !important
	}
	.vc_col-sm-9.wpb_column.vc_column_container.sub-slider {
		display: none
	}
}
@media only screen and (max-width: 359px) {
	.bcure-mainheader-full {
		position: fixed;
		height: 35px;
		z-index: 9;
		width: 100%
	}
	.bcure-header-logo-mobile {
		display: block;
		width: 22%;
		padding: 1px
	}
	.bcure-mainheader {
		width: 100%
	}
	.header-language {
		float: left;
		width: 54% !important;
		margin-right: 4px
	}
	.header-language .dropbtn {
		padding: 4px 10px
	}
	.header-social {
		float: left;
		width: 20%
	}
	.header_hor .l-header {
		top: 50px
	}
}
@media only screen and (min-width: 360px) and (max-width: 420px) {
	.bcure-mainheader-full {
		position: fixed;
		height: 30px;
		z-index: 9;
		width: 100%
	}
	.bcure-header-logo-mobile {
		display: block;
		width: 22%;
		padding: 3px
	}
	.bcure-mainheader {
		width: 100%
	}
	.header-language {
		float: left;
		width: 53%
	}
	.header-language .dropbtn {
		padding: 4px 15px
	}
	.header-social {
		float: left;
		width: 22%
	}
	.header_hor .l-header {
		top: 50px
	}
}
@media only screen and (min-width: 421px) and (max-width: 500px) {
	.bcure-mainheader-full {
		position: fixed;
		height: 50px;
		z-index: 9;
		width: 100%
	}
	.bcure-header-logo-mobile {
		display: block;
		width: 22%;
		padding: 3px
	}
	.bcure-mainheader {
		width: 100%
	}
	.header-language {
		float: left;
		width: 48%
	}
	.header-social {
		float: left;
		width: 28%
	}
	.header_hor .l-header {
		top: 55px
	}
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
	.bcure-mainheader-full {
		position: fixed;
		height: 65px;
		z-index: 9;
		width: 100%
	}
	.bcure-header-logo-mobile {
		display: block;
		width: 22%;
		padding: 3px
	}
	.bcure-mainheader {
		width: 100%
	}
	.header-language {
		float: left;
		width: 43%
	}
	.header-social {
		float: left;
		width: 33%
	}
	.header_hor .l-header {
		top: 65px
	}
}
@media only screen and (min-width: 601px) and (max-width: 700px) {
	.bcure-mainheader-full {
		position: fixed;
		height: 65px;
		z-index: 9;
		width: 100%
	}
	.bcure-header-logo-mobile {
		display: block;
		width: 22%;
		padding: 3px
	}
	.bcure-mainheader {
		width: 100%
	}
	.header-language {
		float: left;
		width: 36%
	}
	.header-social {
		float: left;
		width: 40%
	}
	.header_hor .l-header {
		top: 65px
	}
}
@media only screen and (max-width: 600px) {
	.footer-bottom .vc_col-sm-6.wpb_column.vc_column_container {
		padding: 0 15px
	}
	.about-color-heading .vc_col-sm-2.wpb_column.vc_column_container {
		display: none
	}
	.about-color-heading .l-section-h.i-cf {
		padding: 0
	}
	.about-color-heading .l-section-overlay {
		background: none !important
	}
	.about-orange .vc_column-inner {
		padding-top: 20px !important;
		margin-left: 15px;
		margin-right: -10px
	}
	.c-form p {
		width: 100% !important
	}
}
.about-color-heading pre {
	background: none !important;
	font-family: open sans;
	padding: 0 !important
}
.about-color-heading .breadcrumb-container ul li span:last-child {
	display: none
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
	.about-color-heading .vc_col-sm-6.wpb_column.vc_column_container.about-orange {
		width: 40%
	}
	.about-color-heading .vc_col-sm-2.wpb_column.vc_column_container {
		width: 20%
	}
	.about-orange .vc_column-inner {
		margin-left: 40px
	}
	.about-red .vc_column-inner {
		margin-right: -41px;
		margin-left: 49px
	}
	.l-section.wpb_row.height_auto.with_overlay.about-color-heading {
		padding-left: 0
	}
	.about-color-heading .vc_col-sm-9 {
		padding-left: 25px
	}
}
@media only screen and (min-width: 768px) and (max-width: 950px) {
	.about-row-three .vc_column-inner {
		padding: 15px !important
	}
	.header_hor .l-header {
		z-index: 2147483647 !important;
		position: relative!important
	}
	.home-form {
		z-index: 99 !important
	}
	.banner-col1.vc_col-sm-4.wpb_column.vc_column_container {
		width: 30% !important
	}
	.banner-col2.vc_col-sm-4.wpb_column.vc_column_container {
		width: 35% !important
	}
	.home-form.vc_col-sm-4.wpb_column.vc_column_container {
		width: 35% !important
	}
	.large-button .ubtn {
		font-size: 14px !important;
		line-height: 18px !important;
		height: 40px !important;
		min-height: 45px !important
	}
	.product-slider-news .vc_custom_heading {
		margin-bottom: 15px !important
	}
	.tab-row .tab-row-menu {
		width: 25%
	}
	.tab-row .tab-row-contant {
		width: 75%
	}
}
@media only screen and (min-width: 992px) and (max-width: 950px) {
	.home-form {
		width: 234px !important
	}
}
@media only screen and (min-width: 901px) and (max-width: 950px) {
	.home-form {
		margin-top: 100px !important
	}
}
@media only screen and (min-width: 768px) and (max-width: 950px) {
	.banner-col1.vc_col-sm-4.wpb_column.vc_column_container {
		width: 30% !important
	}
	.banner-col2.vc_col-sm-4.wpb_column.vc_column_container {
		width: 35% !important
	}
	.home-form.vc_col-sm-4.wpb_column.vc_column_container {
		width: 35% !important
	}
}
@media only screen and (max-width: 640px) {
	#rev_slider_1_1_wrapper {
		margin-top: -56px !important;
		margin-bottom: 88px !important
	}
}
@media only screen and (min-width: 641px) and (max-width: 767px) {
	.home-form {
		position: relative;
		margin-top: 50px !important;
		z-index: 0 !important
	}
	#rev_slider_1_1_wrapper {
		margin-top: -56px !important;
		margin-bottom: 88px !important
	}
}
@media only screen and (min-width: 891px) and (max-width: 923px) {
	.home-black h5 {
		line-height: 22px;
		font-size: 18px
	}
}
@media only screen and (min-width: 924px) and (max-width: 945px) {
	.home-black h5 {
		line-height: 24px;
		font-size: 18px
	}
}
@media only screen and (min-width: 946px) and (max-width: 978px) {
	.home-black h5 {
		line-height: 24px;
		font-size: 18px
	}
}
@media only screen and (min-width: 799px) and (max-width: 816px) {}@media only screen and (min-width: 817px) and (max-width: 833px) {}@media only screen and (min-width: 834px) and (max-width: 852px) {}@media only screen and (min-width: 853px) and (max-width: 881px) {}@media only screen and (min-width: 882px) and (max-width: 890px) {}@media only screen and (min-width: 891px) and (max-width: 945px) {}@media only screen and (min-width: 946px) and (max-width: 991px) {}.homepage .home-form {
	right:15px;
	z-index:1
}
.home-video .w-vwrapper.usg_vwrapper_2.align_left.valign_top {
	border:medium none !important;
	padding:0 25px !important
}
.home-video .w-grid-item-elm.usg_post_content_1.post_content {
	line-height:20px !important;
	min-height:90px !important
}
.home-video .w-hwrapper.usg_hwrapper_1.align_left.valign_middle {
	color:#f78f1e;
	font-size:14px
}
.footer-bottom p {
	font-size:13px !important
}
.main-popup .ult_modal-content {
	min-width:640px
}
.main-popup .ult_modal.ult-small {
	width: 50%
}
.main-popup .FNAME-label {
	margin-left: 12%
}
.main-popup .EMAIL-label.yikes-mailchimp-field-required {
	margin-left: 12%
}
.main-popup .yikes-easy-mc-submit-button.yikes-easy-mc-submit-button-1.btn.btn-primary {
	margin-left: 12%
}
.cr-sub-bg .owl-carousel .us_testimonial.type-us_testimonial .post_content {
	min-height: 115px!important
}
.tab-row .menu {
	margin-right: 15px !important;
	border-bottom: medium none !important
}
.tab-row .menu-baisc-menu-container {
	border-right: 1px solid #787878
}
.tab-row .menu-dental-pro-menu-container {
	border-right: 1px solid #787878
}
.tab-row .menu-technology-container {
	border-right: 1px solid #787878
}
.tab-row .menu-clinical-resorces-container {
	border-right: 1px solid #787878
}
.tab-row .menu-news-container {
	border-right: 1px solid #787878
}
.vc_col-sm-2.wpb_column.vc_column_container.tab-row-menu .vc_column-inner {
	padding: 0 !important
}
.l-main .widget_nav_menu .menu-item.current-menu-item>a {
	background: none !important;
	color: #00ac7b
}
.tab-row-menu a {
	border: medium none !important;
	padding-right: 5px !important
}
.tab-row-menu a:hover {
	background: none !important
}
.Contact-Form textarea {
	background: #f0f0f0 none repeat scroll 0 0
}
.Contact-Form select {
	border-radius: 0;
	box-shadow: none;
	background: #f0f0f0 none repeat scroll 0 0
}
.Contact-Form h6 {
	text-align: center
}
.Contact-Form .wpcf7-form-control.wpcf7-submit {
	width: 100%;
	margin-top: 15px
}
.neck-btn {
	background: #F78F1E none repeat scroll 0 0 !important;
	margin-top: 28px;
	padding: 17px;
	text-align: center !important;
	width: 50%
}
.neck-btn a {
	color: fff
}
@media only screen and (max-width: 900px) {
	.l-subheader.at_middle {
		display: none
	}
}
* .main-popup .ult_modal-body.ult-responsive.ult-html>div {
	background: transparent none repeat scroll 0 0 !important
}
.classic-tab .w-tabs-item-h {
    background: #475564 none repeat scroll 0 0;color:#fff !important;margin:0 5px;padding:6px 20px
}
.tab-row .vc_custom_heading{font-size:18px}
.tab-row p{font-size:14px}
.classic-tab h4{font-size:18px !important}
.classic-tab .w-tabs-section-content-h.i-cf{padding-top:0}
.ult_modal-content{border:medium none !important}
.ult-overlay-close.popup-top-right {
	border-radius: 0 !important;
	margin-left: -22px;
	padding: 6px !important;
	position: absolute;
	top: 0
}
.main-popup .ult_modal-body {
	background-image: url("img/bcure.jpg");
	background-position: center center !important;
	background-size: 100% 100% !important;
	padding-top: 60px
}
.main-popup .wpcf7-form-control.wpcf7-text {
	border-radius: 0;
	box-shadow: none;
	height: 40px;
	margin-left: 24%;
	width: 48%
}
.main-popup .wpcf7-form-control.wpcf7-submit {
	border: 2px solid #fff;
	height: 42px;
	line-height: 36px;
	margin-left: 24%
}
@media screen and (min-width: 888px) and (max-width: 960px) {
	.w-tabs-item-h {
		font-size: 14px !important;
		padding: 6px 12px !important
	}
}
@media screen and (min-width: 769px) and (max-width: 887px) {
	.w-tabs-item-h {
		font-size: 12px !important;
		padding: 6px 12px !important
	}
}
@media screen and (min-width: 769px) and (max-width: 992px) {
	li.tp-revslider-slidesli div.tp-parallax-wrap div.tp-loop-wrap div.tp-mask-wrap div {
		font-size: 10px !important
	}
	.ush_menu_1.type_desktop .w-nav-list>.menu-item.level_1 {
		font-size: 14px !important
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	h5.vc_custom_heading.vc_custom_1529600811692 {
		font-size: 15px
	}
	.home-boxes p {
		min-height: 85px !important
	}
	.home-boxes h2 {
		min-height: 72px !important
	}
	.home-boxes ul {
		min-height: 128px !important
	}
}
.news-form {
	background: #ECEEEF none repeat scroll 0 0;
	border-radius: 5px;
	width: 225px;
	margin-left: 10px
}
.news-form .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	background: #fff none repeat scroll 0 0;
	border: medium none !important;
	box-shadow: none;
	height: 40px
}
.news-form .wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email {
	background: #fff none repeat scroll 0 0;
	border: medium none !important;
	box-shadow: none;
	height: 40px
}
.news-form .wpcf7-form-control.wpcf7-submit {
	box-shadow: none;
	height: 38px;
	line-height: 30px;
	width: 100%
}
.news-form h6 {
	font-size: 12px !important
}
.news-section .w-hwrapper.usg_hwrapper_1.align_left.valign_top.wrap {
	display: none
}
.news-section h2 {
	font-weight: bold !important
}
@media only screen and (max-width: 800px) {
	.w-nav-list.level_1.hover_simple {
		margin: 0 12px
	}
}
@media only screen and (min-width: 768px) and (max-width: 948px) {
	.tp-leftarrow.tparrows.hesperiden.noSwipe {
		transform: matrix(1, 0, 0, 1, 58, -40) !important
	}
	.tp-rightarrow.tparrows.hesperiden.noSwipe {
		transform: matrix(1, 0, 0, 1, -100, -40) !important
	}
}
@media only screen and (min-width: 901px) and (max-width: 950px) {
	.l-section.wpb_row.height_auto.with_img.cr-sub-bg {
		height: 500px
	}
}
@media only screen and (min-width: 641px) {
	.bcure-header-logo-mobile {
		display: none
	}
	.home-form-bottom {
		display: none
	}
}
@media only screen and (max-width: 768px) {
	.menu a {
		width: 75%;
		font-size: 82%
	}
	.menu {
		width: 90%
	}
	.menu a,
	.next-post a {
		float: left;
		margin: 0 1%;
		padding: 5px 1%;
		margin-bottom: 0
	}
	.menu li:first-child a {
		margin-left: 0
	}
	.menu li:last-childa {
		margin-right: 0
	}
	.menu li {
		display: inline
	}
}
.menu {
	width: 100%;
	float: left;
	background: none;
	margin-bottom: 9px;
	padding: 5px 0px 5px 0px
}
.menu select {
	display: none
}
@media (max-width: 768px) {
	.menu li {
		display: none
	}
	.menu select {
		border: 1px solid #ddd!important;
		box-shadow: none!important;
		display: block;
		margin: 0 auto;
		width: 90% !important
	}
}
.contact-form .gform_body ul li {
	clear: none !important;
	float: left !important;
	width: 50% !important;
	margin: 0 !important
}
#input_1_1_3_container>label {
	display: none !important
}
.contact-form .medium {
	width: 100% !important;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0 !important
}
#input_1_1_3_container>input {
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0 !important
}
.contact-form .ginput_container.ginput_container_select {
	margin-top: -73px !important
}
.contact-form textarea {
	height: 125px !important
}
.contact-form .gform_footer.top_label {
	text-align: center
}
.contact-form .gform_button.button {
	margin-top: 30px !important;
	width: 40% !important;
	box-shadow: none !important
}
.contact-form .gform_heading {
	display: none
}
#input_2_1_3_container>label {
	display: none !important
}
.slider-form .gform_body ul li {
	float: left !important;
	padding-right: 0px!important;
	height: 50px !important;
	margin: 0 !important;
	width: 100% !important
}
.slider-form .gform_body ul li .ginput_container {
	position:relative;
	float: left !important;
	width: 100% !important
}
.slider-form .gform_body ul li .ginput_container_name span {
	padding-right: 0px!important
}
.slider-form .medium {
	width: 100% !important;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0 !important;
	background: #ECEEEF;
	padding-right: 0px!important;
	height: 38px !important;
	margin-top: 5px
}
.slider-form #input_2_1_3_container>input {
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 15px !important;
	background: #ECEEEF;
	padding-right: 0px!important;
	height: 38px !important
}
.slider-form .gform_footer.top_label {
	padding-bottom: 0;
	padding-top: 8px
}
.slider-form_wrapper {
	margin: 5px 0 !important
}
.gform_button.button {
	height: 38px;
	line-height: 24px;
	width: 100% !important
}
.slider-form .gform_heading {
	display: none
}
@media only screen and (max-width: 640px) {
	.slider-form .gform_body ul li .ginput_container {
		margin-top: 0px !important
	}
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
	.slider-form .name_first {
		width: 100% !important
	}
	.contact-form .name_first {
		width: 100% !important
	}
}
@media only screen and (max-width: 479px) {
	.blog-form_wrapper .blog-form .gform_body ul li {
		float: none !important;
		padding-right: 0px!important;
		height: 50px !important;
		margin: 0 !important;
		width: 92% !important
	}
	.blog-form_wrapper .blog-form .gform_body ul li.field_sublabel_below .ginput_complex {
		margin-top: 40px!important
	}
	.blog-form_wrapper .blog-form .gform_body ul li input#input_5_1_3 {
		float: none !important;
		padding-right: 0px!important;
		margin: 0 !important;
		width: 100% !important
	}
	.blog-form_wrapper .blog-form .gform_body ul li label#label_5_4_1 {
		height: 50px !important;
		float: right !important
	}
	.blog-form_wrapper .blog-form .gform_body ul li.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible {
		margin: 0% 0 0 4% !important
	}
	.gform_wrapper .top_label li.gfield {
		float: left !important;
		padding-right: 0px!important;
		height: 50px !important;
		margin: 1px !important;
		width: 100% !important
	}
	.slider-form .gform_footer.top_label {
		padding-bottom: 0;
		padding-top: 42px
	}
}
@media only screen and (min-width: 951px) {
	.review-page .home-form {
		top: -150px
	}
}
@media only screen and (min-width: 900px) and (max-width: 950px) {
	.review-page .home-form {
		top: -140px
	}
}
.slideout-form label {
	display: none !important
}
.slideout-form .gform_body ul li {
	float: left !important;
	padding-right: 0px!important;
	height: 50px !important;
	margin: 0 !important;
	width: 100% !important
}
.slideout-form .gform_body ul li .ginput_container {
	float: left !important;
	width: 100% !important
}
.slideout-form .gform_body ul li .ginput_container_name span {
	padding-right: 0px!important
}
.slideout-form .medium {
	width: 100% !important;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0 !important;
	background: #ECEEEF;
	padding-right: 0px!important;
	height: 38px !important
}
.slideout-form-message .medium {
	width: 100% !important;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0 !important;
	background: #ECEEEF;
	padding-right: 0px!important;
	height: 70px !important
}
.slideout-form #input_3_1_3 {
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 15px !important;
	background: #ECEEEF;
	padding-right: 0px!important;
	height: 38px !important
}
.slideout-form .gform_footer.top_label {
	padding-bottom: 0;
	padding-top: 8px
}
.slideout-form .gform_button.button {
	height: 38px;
	line-height: 24px;
	width: 100% !important;
	margin-top: 30px !important
}
.slideout-form .gform_heading {
	display: none
}
.slideout-form_wrapper {
	background: #fff;
	margin: 0px 20px 20px 20px;
	padding: 20px
}
.slideout-logo {
	text-align: center
}
.slideout-logo img {
	max-height: 40px;
	margin: auto;
	max-width: 100% !important
}
.slideout-form h6 {
	text-align: center;
	font-size: 16px;
	margin-top: 15px
}
.popup-form label {
	display: none !important
}
.popup-form .gform_body ul li {
	float: left !important;
	padding-right: 0px!important;
	height: 50px !important;
	margin: 0 !important;
	width: 100% !important
}
.popup-form .gform_body ul li .ginput_container {
	float: left !important;
	width: 100% !important
}
.popup-form .gform_body ul li .ginput_container_name span {
	padding-right: 0px!important
}
.popup-form .medium {
	width: 48% !important;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0 !important;
	margin-left: 22% !important;
	background: #fff;
	padding-right: 0px!important;
	height: 38px !important
}
.popup-form #input_4_1_3 {
	width: 48% !important;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 15px !important;
	margin-left: 22% !important;
	background: #fff;
	padding-right: 0px!important;
	height: 38px !important
}
.popup-form .gform_footer.top_label {
	padding-bottom: 0;
	padding-top: 8px
}
.popup-form .gform_button.button {
	height: 38px;
	line-height: 24px;
	width: 22% !important;
	margin-left: 22% !important;
	border: 2px solid #fff
}
.popup-form .gform_heading {
	display: none
}
#gform_wrapper_5 {
	background: #475564
}
.blog-form p {
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	padding: 15px 10px
}
.blog-form label {
	display: none !important
}
.blog-form label#label_5_4_1 {
	display: block !important;
	color: #fff !important
}
.ginput_container.ginput_container_checkbox {
	padding: 0 10px
}
.blog-form .gform_body ul li {
	float: left !important;
	padding-right: 0px!important;
	margin: 0 !important;
	width: 100% !important
}
.blog-form .gform_body ul li .ginput_container {
	float: left !important;
	width: 100% !important
}
.blog-form .gform_body ul li .ginput_container_name span {
	padding-right: 0px!important
}
.blog-form .medium {
	width: 90% !important;
	border-radius: 0;
	box-shadow: none;
	margin: 0 5% !important;
	background: #fff;
	padding-right: 0px !important;
	height: 38px !important
}
.blog-form #input_5_1_3 {
	width: 90% !important;
	border-radius: 0;
	box-shadow: none;
	margin: 0 5% !important;
	background: #fff;
	padding-right: 0px !important;
	height: 38px !important
}
.blog-form .gform_footer.top_label {
	padding-bottom: 0;
	padding-top: 8px
}
.blog-form .gform_button.button {
	height: 38px;
	line-height: 24px;
	width: 90% !important;
	margin: 0 5% 10% 5% !important;
	border: 2px solid #fff
}
.blog-form .gform_heading {
	display: none
}
@media only screen and (max-width: 640px) {
	.widget_nav_menu .menu {
		border: none !important;
		border-left: none !important
	}
}
@media only screen and (min-width: 768px) and (max-width: 1920px) {
	.widget_nav_menu .menu {
		border-right: 1px solid #787878!important;
		border-bottom: none !important
	}
}
.post-form {
	background: #475564
}
.post-form p {
	color: #fff;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	padding: 20px 30px
}
.post-form .ginput_container.ginput_container_checkbox {
	margin-left: 22px!important
}
.post-form label {
	display: none !important
}
.post-form label#label_5_4_1 {
	display: block !important;
	color: #fff !important
}
.post-form .gform_body ul li {
	float: left !important;
	padding-right: 0px!important;
	margin: 0 !important;
	width: 100% !important
}
.post-form .gform_body ul li .ginput_container {
	float: left !important;
	width: 100% !important
}
.post-form .gform_body ul li .ginput_container_name span {
	padding-right: 0px!important
}
.post-form .medium {
	width: 90% !important;
	border-radius: 0;
	box-shadow: none;
	margin: 0 5% !important;
	background: #fff;
	padding-right: 0px !important;
	height: 38px !important
}
.post-form #input_6_1_3 {
	width: 90% !important;
	border-radius: 0;
	box-shadow: none;
	margin: 0 5% !important;
	background: #fff;
	padding-right: 0px !important;
	height: 38px !important
}
.post-form .gform_footer.top_label {
	padding-bottom: 0;
	padding-top: 8px
}
.post-form .gform_button.button {
	height: 38px;
	line-height: 24px;
	width: 90% !important;
	margin: 0 5% 10% 5% !important;
	border: 2px solid #fff
}
.post-form .gform_heading {
	display: none
}
.post-form label#label_6_4_1 {
	display: block !important;
	color: #fff !important
}
@media only screen and (max-width: 900px) {
	.blog-form {
		display: none!important
	}
}
@media only screen and (max-width: 640px) {
	.post-form p {
		padding: 20px 2px
	}
	.post-form_wrapper .post-form .gform_body ul li {
		float: none !important;
		padding-right: 0px!important;
		height: 50px !important;
		margin: 0 !important;
		width: 92% !important
	}
	.post-form_wrapper .post-form .gform_body ul li.field_sublabel_below .ginput_complex {
		margin-top: 60px!important
	}
	.post-form_wrapper .post-form .gform_body ul li input#input_6_1_3 {
		float: none !important;
		padding-right: 0px!important;
		margin: 0 !important;
		width: 100% !important
	}
	.post-form_wrapper .post-form .gform_body ul li label#label_6_4_1 {
		height: 50px !important;
		float: right !important
	}
	.post-form_wrapper .post-form .gform_body ul li.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible {
		margin: 0% 0 0 4% !important
	}
}
@media only screen and (max-width: 640px) {
	.slider-form #field_2_2>input {
		margin-bottom: 0 !important;
		margin-top: 14px !important
	}
	.slideout-form #field_3_2>input {
		margin-bottom: 0 !important;
		margin-top: 10px !important
	}
	.post-form #field_6_2>input {
		margin-bottom: 0 !important;
		margin-top: 14px !important
	}
}
.rev_slider_wrapper #rev_slider_1_1 ul li .slotholder .tp-bgimg.defaultimg {
	background-size: 95% auto !important;
	background-position: 25px 0px !important
}
.sub-slider .rev_slider_wrapper #rev_slider_9_1 ul li .slotholder .tp-bgimg.defaultimg {
	background-size: 585px auto !important;
	background-position: 110px 0px !important
}
.sub-slider .rev_slider_wrapper #rev_slider_7_1 ul li .slotholder .tp-bgimg.defaultimg {
	background-size: 585px auto !important;
	background-position: 110px 0px !important
}
.sub-slider .rev_slider_wrapper #rev_slider_8_1 ul li .slotholder .tp-bgimg.defaultimg {
	background-size: 585px auto !important;
	background-position: 110px 0px !important
}
.slide-popup-close {
	display: none
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .wpb_text_column .gf_browser_safari .slider-form .gform_body ul li {
        height: opx !important
    }
    .ult_modal-content {
        display: none
    }
}
.w-grid-item-elm.post_image {
    overflow: hidden;
    position: relative;
}
#us_grid_2 .usg_post_image_1 {
    margin-bottom: 1rem;
}
#us_grid_2 .usg_post_title_1 {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
#us_grid_2 .usg_post_title_1 {
    margin-bottom: .5rem;
}
#us_grid_2 .w-grid-item-elm.post_title {
    font-size: 14px;
}
.breadcrumb-container {
	font-size: 16px  !important;
}
.breadcrumb-container li a{
	color: #475564  !important;
	font-size: 16px  !important;
	line-height: 16px  !important;
}

.breadcrumb-container li .separator {
	color: #475564  !important;
	font-size: 16px  !important;
}
.breadcrumb-container.theme1 li {
	margin: 0;
	padding: 0;
}							
.breadcrumb-container.theme1 a {
	display: inline-block;
	margin: 0 5px;
	padding: 5px 10px;
	text-decoration: none;
}