.vc_custom_1529651096648 {
	padding-right: 0px !important;
}
.vc_custom_1529651237636 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1529605716776 {
	padding-right: 15px !important;
	padding-bottom: 10px !important;
	padding-left: 15px !important;
}
.vc_custom_1530349867517 {
	margin-top: 3px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1530349888297 {
	margin-top: 3px !important;
	padding-right: 0px !important;
}
.vc_custom_1530349906225 {
	margin-top: 3px !important;
	padding-right: 0px !important;
}
.vc_custom_1530349923974 {
	margin-top: 3px !important;
	padding-left: 0px !important;
}
.vc_custom_1529734662629 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #f78f1e !important;
}
.vc_custom_1529387459319 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #ef4135 !important;
}
.vc_custom_1529387382804 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #00ac7b !important;
}
.vc_custom_1529387486388 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #475564 !important;
}
.vc_custom_1530518702527 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1529400052877 {
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529396286997 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1534841258208 {
	margin-bottom: 0px !important;
	padding-top: 5px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529396337035 {
	margin-top: 0px !important;
	padding-top: 10px !important;
}
.vc_custom_1534841298933 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529396419663 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529396491184 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400191412 {
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529400495934 {
	padding-right: 20px !important;
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529400512184 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400529489 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400543977 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400559498 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400571201 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400581832 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400597193 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400624529 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400677277 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400689484 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400700048 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400711283 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400723355 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400741784 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400774208 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400761827 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529403789241 {
	padding-right: 20px !important;
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529401799712 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401834024 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401847554 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401869337 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401893463 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401935965 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402056775 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402106308 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402249314 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402285152 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402316709 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529403773405 {
	padding-right: 20px !important;
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529402648735 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402678362 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.wpb_animate_when_almost_visible {
	opacity: 1;
}

#us_grid_1 .w-grid-item-h {}
#us_grid_1 .usg_post_image_1 {
	width: 100%;
	height: 100%;
}
#us_grid_1 .usg_post_image_1 {
	transition-duration: 0.3s;
	transform: scale(1) translate(0%, 0%)
}
#us_grid_1 .w-grid-item-h:hover .usg_post_image_1 {
	transform: scale(1.2) translate(0%, 0%);
	opacity: 1
}
#us_grid_1 .usg_post_title_1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	font-weight: bold;
	color: #ffffff
}
#us_grid_1 .usg_hwrapper_1 {width:100%;}
#us_grid_1 .usg_post_date_1 {
	font-size: 0.9rem;
	color: #ffffff
}
#us_grid_1 .usg_post_author_1 {
	font-size: 0.9rem;
	color: #ffffff
}
#us_grid_1 .usg_post_comments_1 {
	font-size: 0.9rem;
	color: #ffffff
}
#us_grid_1 .usg_post_taxonomy_1 {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase
}
#us_grid_1 .usg_post_taxonomy_2 {
	font-size: 0.9rem;
	color: #ffffff
}
#us_grid_1 .usg_vwrapper_1 {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 5rem;
	padding-right: 2rem;
	padding-bottom: 1.5rem;
	padding-left: 2rem
}

.vc_custom_1529651096648 {
	padding-right: 0px !important;
}
.vc_custom_1529651237636 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1529605716776 {
	padding-right: 15px !important;
	padding-bottom: 10px !important;
	padding-left: 15px !important;
}
.vc_custom_1530358071493 {
	margin-top: 3px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1530358102925 {
	margin-top: 3px !important;
	padding-right: 0px !important;
}
.vc_custom_1530358127481 {
	margin-top: 3px !important;
	padding-right: 0px !important;
}
.vc_custom_1530358147944 {
	margin-top: 3px !important;
	padding-left: 0px !important;
}
.vc_custom_1529753121232 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #f78f1e !important;
}
.vc_custom_1529387459319 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #ef4135 !important;
}
.vc_custom_1529387382804 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #00ac7b !important;
}
.vc_custom_1529387486388 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #475564 !important;
}
.vc_custom_1530519160863 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1529400052877 {
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529396286997 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529485186177 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529485256568 {
	padding-top: 5px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529485697531 {
	padding-right: 15px !important;
	padding-left: 5px !important;
}
.vc_custom_1529485320706 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529396491184 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529485681467 {
	padding-right: 15px !important;
	padding-left: 5px !important;
}
.vc_custom_1529400191412 {
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529400495934 {
	padding-right: 20px !important;
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529400512184 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400529489 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400543977 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400559498 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400571201 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400581832 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400597193 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400624529 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400677277 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400689484 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400700048 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400711283 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400723355 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400741784 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400761827 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400774208 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529403789241 {
	padding-right: 20px !important;
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529401799712 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401834024 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401847554 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401869337 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401893463 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529401935965 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402056775 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402106308 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402249314 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402285152 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529486431778 {
	background-color: #f6f6f6 !important;
}
.vc_custom_1533381364531 {
	padding-right: 100px !important;
	padding-left: 100px !important;
}
.vc_custom_1529403773405 {
	padding-right: 20px !important;
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529402648735 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529402678362 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.wpb_animate_when_almost_visible {
	opacity: 1;
}
.vc_custom_1529651096648 {
	padding-right: 0px !important;
}
.vc_custom_1529651237636 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1529605716776 {
	padding-right: 15px !important;
	padding-bottom: 10px !important;
	padding-left: 15px !important;
}
.vc_custom_1530357312804 {
	margin-top: 3px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1530357330753 {
	margin-top: 3px !important;
	padding-right: 0px !important;
}
.vc_custom_1530357350395 {
	margin-top: 3px !important;
	padding-right: 0px !important;
}
.vc_custom_1530357372045 {
	margin-top: 3px !important;
	padding-left: 0px !important;
}
.vc_custom_1529753927830 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #f78f1e !important;
}
.vc_custom_1529387459319 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #ef4135 !important;
}
.vc_custom_1529387382804 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #00ac7b !important;
}
.vc_custom_1529387486388 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #475564 !important;
}
.vc_custom_1530519612835 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1529400052877 {
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.vc_custom_1529488240571 {
	margin-top: 15px !important;
	margin-right: 15px !important;
	margin-bottom: 15px !important;
	margin-left: 15px !important;
}
.vc_custom_1529487714947 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1533381710171 {
	margin-bottom: 0px !important;
	padding-top: 5px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529487862839 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529487905215 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529487940327 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529487978486 {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1529400191412 {
	padding-left: 20px !important;
	background-color: #f6f6f6 !important;
}
.wpb_animate_when_almost_visible {
	opacity: 1;
}

.vc_custom_1530524099176{padding-right: 0px !important;}.vc_custom_1530524105317{margin-right: 0px !important;margin-left: 0px !important;padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1529605716776{padding-right: 15px !important;padding-bottom: 10px !important;padding-left: 15px !important;}.vc_custom_1529605666725{margin-bottom: 0px !important;}.vc_custom_1530520647022{margin-top: 3px !important;padding-top: 0px !important;padding-left: 0px !important;}.vc_custom_1530520663278{margin-top: 3px !important;padding-right: 0px !important;}.vc_custom_1530520677632{margin-top: 3px !important;padding-right: 0px !important;}.vc_custom_1530520695121{margin-top: 3px !important;padding-left: 0px !important;}.vc_custom_1529659905301{margin-top: -32px !important;padding-top: 10px !important;padding-right: 10px !important;padding-bottom: 10px !important;padding-left: 10px !important;background-color: #f78f1e !important;}.vc_custom_1529387459319{margin-top: -32px !important;padding-top: 10px !important;padding-right: 10px !important;padding-bottom: 10px !important;padding-left: 10px !important;background-color: #ef4135 !important;}.vc_custom_1529387382804{margin-top: -32px !important;padding-top: 10px !important;padding-right: 10px !important;padding-bottom: 10px !important;padding-left: 10px !important;background-color: #00ac7b !important;}.vc_custom_1529387486388{margin-top: -32px !important;padding-top: 10px !important;padding-right: 10px !important;padding-bottom: 10px !important;padding-left: 10px !important;background-color: #475564 !important;}.vc_custom_1529660141766{background-color: #ffffff !important;}.vc_custom_1532502478961{margin-right: 10px !important;padding-left: 0px !important;}.vc_custom_1530525287962{margin-right: 15px !important;}.vc_custom_1535712149834{margin-bottom: 0px !important;padding-bottom: 0px !important;} .wpb_animate_when_almost_visible { opacity: 1; }
.vc_custom_1529651096648 {
	padding-right: 0px !important;
}
.vc_custom_1529651237636 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1529605716776 {
	padding-right: 15px !important;
	padding-bottom: 10px !important;
	padding-left: 15px !important;
}
.vc_custom_1529605666725 {
	margin-bottom: 0px !important;
}
.vc_custom_1530595417467 {
	margin-top: 3px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1530595430366 {
	margin-top: 3px !important;
	padding-right: 0px !important;
}
.vc_custom_1530595446691 {
	margin-top: 3px !important;
	padding-right: 0px !important;
}
.vc_custom_1530595460416 {
	margin-top: 3px !important;
	padding-left: 0px !important;
}
.vc_custom_1529672223047 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #f78f1e !important;
}
.vc_custom_1529387459319 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #ef4135 !important;
}
.vc_custom_1529387382804 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #00ac7b !important;
}
.vc_custom_1529387486388 {
	margin-top: -32px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	background-color: #475564 !important;
}
.vc_custom_1529672320876 {
	background-color: #ffffff !important;
}
.vc_custom_1530595627855 {
	padding-top: 35px !important;
	padding-right: 35px !important;
	padding-bottom: 35px !important;
	padding-left: 35px !important;
}
.vc_custom_1536819537066 {
	border-right-width: 1px !important;
	border-right-color: #000000 !important;
	border-right-style: none !important;
}
.vc_custom_1529733542092 {
	background-color: #eceeef !important;
}
.vc_custom_1529392051097 {
	padding-right: 0px !important;
	padding-left: 0px !important;
	background-color: #eceeef !important;
}
.vc_custom_1529392061013 {
	padding-right: 0px !important;
	padding-left: 0px !important;
	background-color: #eceeef !important;
}
.vc_custom_1530596059518 {
	margin-bottom: 0px !important;
	margin-left: 22px !important;
}
.vc_custom_1529733923586 {
	margin-bottom: 7px !important;
	margin-left: 22px !important;
}
.vc_custom_1529733930922 {
	margin-bottom: 7px !important;
	margin-left: 22px !important;
}
.wpb_animate_when_almost_visible {
	opacity: 1;
}
.aio-icon-component,
.wpb_column>.wpb_wrapper .aio-icon-component {
	margin-bottom: 35px
}
.aio-icon-component .aio-icon,
.aio-icon-component .img-icon {
	-webkit-transition: -webkit-transform .2s linear;
	transition: -webkit-transform .2s linear;
	transition: transform .2s linear;
	transition: transform .2s linear, -webkit-transform .2s linear
}
.aio-icon-header h3.aio-icon-title {
	margin: 0;
	display: block;
	font-size: 16px;
	line-height: 1.2em
}
.aio-icon-description {
	width: 100%;
	display: block;
	margin-top: 0
}
.aio-icon-header+.aio-icon-description {
	margin-top: 10px
}
.aio-icon-read {
	display: block;
	padding: 5px 0;
	text-decoration: none
}
a.aio-icon-box-link {
	text-decoration: none;
	border: none;
	display: block
}
.default-icon .aio-icon-default {
	display: table-cell;
	vertical-align: middle
}
.default-icon .aio-icon-default .aio-icon,
.default-icon .aio-icon-default .aio-icon-img {
	margin-right: 15px
}
.default-icon .aio-icon-header {
	display: table-cell;
	vertical-align: middle
}
.top-icon .aio-icon,
.top-icon .aio-icon-description,
.top-icon .aio-icon-header,
.top-icon .aio-icon-img {
	display: block;
	text-align: center;
	margin: 0 auto
}
.top-icon .aio-icon-header h3.aio-icon-title {
	margin: 25px 0 15px
}
.top-icon .aio-icon-description {
	margin-top: 15px
}
.top-icon .aio-icon-header+.aio-icon-description {
	margin-top: 0
}
.aio-icon-box.left-icon {
	display: inline-block
}
.left-icon .aio-icon-left {
	display: table-cell;
	vertical-align: top
}
.left-icon .aio-icon-left .aio-icon,
.left-icon .aio-icon-left .aio-icon-img {
	margin-right: 15px
}
.left-icon .aio-ibd-block {
	display: table-cell;
	vertical-align: middle
}
.left-icon .aio-icon-description,
.left-icon .aio-icon-header {
	float: left;
	width: 100%
}
.square_box-icon .aio-icon,
.square_box-icon .aio-icon-description,
.square_box-icon .aio-icon-header,
.square_box-icon .aio-icon-img {
	display: block;
	text-align: center;
	margin: 0 auto
}
.square_box-icon .aio-icon-img {
	display: block!important
}
.square_box-icon .aio-icon-description,
.square_box-icon .aio-icon-header {
	padding: 0 5%
}
.square_box-icon .aio-icon-description {
	padding-bottom: 1em
}
.square_box-icon .aio-icon-header h3.aio-icon-title {
	margin: 15px 0 15px
}
.square_box-icon .aio-icon-square_box .aio-icon,
.square_box-icon .aio-icon-square_box .aio-icon-img {
	position: absolute;
	right: 0;
	left: 0
}
.square_box-icon .aio-icon-square_box {
	height: 100%;
	width: 100%;
	position: relative;
	display: block
}
.aio-icon-box.top-icon {
	text-align: center
}
.style_2 .aio-icon-box .aio-icon,
.style_2 .aio-icon-box .img-icon {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}
.style_2 .aio-icon-box:hover .aio-icon,
.style_2 .aio-icon-box:hover .img-icon {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2)
}
.style_3 .aio-icon-box .aio-icon,
.style_3 .aio-icon-box .img-icon {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
}
.style_3 .aio-icon-box:hover .aio-icon,
.style_3 .aio-icon-box:hover .img-icon {
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px)
}
.style_2 .aio-icon-box .aio-icon.animated,
.style_2 .aio-icon-box .img-icon.animated,
.style_3 .aio-icon-box .aio-icon.animated,
.style_3 .aio-icon-box .img-icon.animated {
	-webkit-animation-fill-mode: initial;
	animation-fill-mode: initial
}
.aio-icon-box.right-icon {
	display: inline-block;
	width: 100%
}
.right-icon .aio-icon-right {
	display: table-cell;
	vertical-align: top;
	width: 100%
}
.right-icon .aio-icon-right .aio-icon,
.right-icon .aio-icon-right .aio-icon-img {
	margin-left: 15px
}
.right-icon .aio-ibd-block {
	display: table-cell;
	vertical-align: middle;
	width: 100%
}
.right-icon .aio-ibd-block,
.right-icon .aio-ibd-block *,
.right-icon .aio-icon-description,
.right-icon .aio-icon-header h3.aio-icon-title {
	text-align: right
}
.right-icon .aio-icon-description,
.right-icon .aio-icon-header {
	float: right;
	width: 100%
}
.heading-right-icon .aio-icon-heading-right {
	display: table-cell;
	vertical-align: middle;
	width: 100%
}
.aio-icon-heading-right+.aio-icon-description {
	margin-top: 10px
}
.heading-right-icon .aio-icon-heading-right .aio-icon,
.heading-right-icon .aio-icon-heading-right .aio-icon-img {
	margin-left: 15px
}
.heading-right-icon .aio-icon-header {
	display: table-cell;
	vertical-align: middle;
	width: 100%
}
.heading-right-icon .aio-icon-description,
.heading-right-icon .aio-icon-description *,
.heading-right-icon .aio-icon-header .aio-icon-title {
	text-align: right
}