/** MAIN BANNER ***/

#new_slides {
    width: 100%;
    float: left;
}

#new_slides .next_prv_holder {
    width: 96%;
    padding: 0 2%;
    float: left;
    top: 0;
    left: 0;
    position: relative;
    z-index: 15;
    margin-top: -70px;
    text-align: center;
    display: none;
}

#new_slides .next_prv_holder img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition-duration: 5s;
    transition-duration: 1000ms;
    transition-duration: 500ms, 500ms;
    width: 100%;
    margin: 0 auto;
}

#new_slides .next_prv_holder img:hover {
    opacity: 100;
    filter: alpha(opacity=100);
}

#new_slides .next_prv_holder .next {
    width: 25px;
    float: right;
    padding: 0 5px;
}

#new_slides .next_prv_holder .prev {
    width: 25px;
    float: right;
    padding: 0 5px;
}

#new_slides .pagination {
    display: none;
}

#new_slides .slides_control {
    width: 100%;
    float: left;
}

#new_slides .slides_container {
    width: 100%;
    display: block;
    height: auto;
    float: left;
    overflow: hidden;
    z-index: 5;
    top: 0;
    left: 0;
    position: relative;
}

#new_slides .slide_details {
    width: 1100px;
    float: left;
    height: 410px;
}


/***  testimonisla ***/

#slides {
    width: 100%;
    float: left;
}

#slides .next_prv_holder {
    width: 96%;
    padding: 0 2%;
    float: left;
    top: 0;
    left: 0;
    position: relative;
    z-index: 15;
    margin-top: -150px;
    text-align: center;
}

#slides .next_prv_holder img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition-duration: 5s;
    transition-duration: 1000ms;
    transition-duration: 500ms, 500ms;
    width: 100%;
    margin: 0 auto;
}

#slides .next_prv_holder img:hover {
    opacity: 100;
    filter: alpha(opacity=100);
}

#slides .next_prv_holder .next {
    width: 25px;
    float: right;
}

#slides .next_prv_holder .prev {
    width: 25px;
    float: left;
}

#slides .pagination {
    width: 200px;
    float: none;
    margin: 0 auto 0 auto;
    z-index: 50;
    top: -30px;
    left: 0;
    position: relative;
    display: none;
}

#slides .pagination li {
    float: none;
    margin: 0 2px;
    list-style: none;
    display: inline-block
}

#slides .pagination li a {
    display: block;
    width: 11px;
    height: 11px;
    background: #fff;
    border: 2px solid #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    text-indent: -999px;
}

#slides .pagination li a:hover {
    background: #6a1819;
    border: 2px solid #fff;
}

#slides .pagination li.current a {
    background: #000;
    border: 2px solid #fff;
}

#slides .slides_control {
    width: 100%;
    float: left;
}

#slides .slides_container {
    width: 100%;
    display: block;
    height: auto;
    float: left;
    overflow: hidden;
    z-index: 5;
    top: 0;
    left: 0;
    position: relative;
}

#slides .slide_details {
    width: 700px;
    float: left;
    height: 170px;
    padding: 0 200px;
}

#slides .slide_details .slider_img {
    width: 144px;
    float: right;
}

#slides .slide_details .slider_content {
    width: 75%;
    float: left;
    font-size: 16px;
    /* text-align: right; */
    color: #fff;
}

@media only screen and (max-width:1024px) {
    /** MAIN BANNER ***/
    #new_slides .slide_details {
        width: 1000px;
        height: 440px;
    }
}

@media only screen and (max-width:720px),
(max-width:760px),
(max-width:980px),
(max-width:100%) {
    img {
        width: 100%;
        display: block;
    }
    /***  testimonisla ***/
    #slides .next_prv_holder {
        margin-top: -120px;
    }
    #slides .next_prv_holder .next,
    #slides .next_prv_holder .prev {
        width: 20px;
    }
    #slides .slides_container,
    #slides .slide_details {
        width: 650px;
        float: none;
        margin: 0 auto;
        padding: 0;
    }
    #slides .slide_details {
        height: 160px;
    }
    #slides .slide_details .slider_content {
        width: 70%;
        font-size: 20px;
    }
    /** MAIN BANNER ***/
    #new_slides .next_prv_holder .next,
    #new_slides .next_prv_holder .prev {
        width: 17px;
    }
    #new_slides .slide_details {
        width: 700px;
        height: 300px;
    }
}

@media only screen and (max-width:600px),
(max-width:650px),
(max-width:680px) {
    /***  testimonisla ***/
    #slides .next_prv_holder {
        margin-top: -120px;
    }
    #slides .next_prv_holder .next,
    #slides .next_prv_holder .prev {
        width: 20px;
    }
    #slides .slides_container,
    #slides .slide_details {
        width: 500px;
    }
    #slides .slide_details {
        height: 150px;
    }
    #slides .slider_content {
        width: 70%;
        font-size: 18px;
    }
    /** MAIN BANNER ***/
    #new_slides .next_prv_holder .next,
    #new_slides .next_prv_holder .prev {
        width: 17px;
    }
    #new_slides .slide_details {
        width: 550px;
        float: none;
        margin: 0 auto;
        height: 470px;
    }
}

@media only screen and (max-width:500px),
(max-width:580px) {
    /***  testimonisla ***/
    #slides .next_prv_holder {
        margin-top: -150px;
        display: none;
    }
    #slides .pagination {
        width: 200px;
        float: none;
        margin: -25px auto 0 auto;
        z-index: 50;
        top: 0;
        left: 0;
        position: relative;
        display: inline-block;
    }
    #slides .slides_container,
    #slides .slide_details {
        width: 500px;
    }
    #slides .slide_details {
        height: 300px;
    }
    #slides .slide_details .slider_content {
        width: 100%;
        font-size: 14px;
        text-align: center;
        padding: 15px 0 0 0;
    }
    #slides .slide_details .slider_content strong {
        font-size:16px;
    }
}

@media only screen and (max-width:400px),
(max-width:450px),
(max-width:480px) {
    /***  testimonisla ***/
    #slides .slides_container,
    #slides .slide_details {
        width: 380px;
    }
    #slides .slide_details {
        height: 320px;
    }
    #slides .slider_content {
        font-size: 18px;
        text-align: center;
    }
    #slides .slide_details .slider_img {
        float: none;
        margin: 0 auto;
    }
    /** MAIN BANNER ***/
    #new_slides .next_prv_holder .next,
    #new_slides .next_prv_holder .prev {
        width: 17px;
    }
    #new_slides .slide_details {
        width: 400px;
        float: none;
        margin: 0 auto;
        height: 470px;
    }
}

@media only screen and (max-width:340px),
(max-width:380px) {
    /***  testimonisla ***/
    #slides .slides_container,
    #slides .slide_details {
        width: 300px;
    }
    #slides .slide_details {
        height: 350px;
    }
    /** MAIN BANNER ***/
    #new_slides .next_prv_holder .next,
    #new_slides .next_prv_holder .prev {
        width: 17px;
    }
    #new_slides .slide_details {
        width: 340px;
        float: none;
        margin: 0 auto;
        height: 470px;
    }
}

@media only screen and (max-width:300px),
(max-width:320px) {
    /** MAIN BANNER ***/
    #new_slides .next_prv_holder .next,
    #new_slides .next_prv_holder .prev {
        width: 17px;
    }
    #new_slides .slide_details {
        width: 300px;
        float: none;
        margin: 0 auto;
        height: 470px;
    }
}