@font-face {font-family:'OpenSansHebrew-Regular';
    src:url('../fonts/OpenSansHebrew-Regular.woff') format('woff');           
    font-weight:normal;
    font-style:normal;}
	
@font-face {font-family:'OpenSansHebrew-Bold';
    src:url('../fonts/OpenSansHebrew-Bold.woff') format('woff');           
    font-weight:normal;
    font-style:normal;}
		
@font-face {font-family:'OpenSansHebrew-ExtraBold';
    src:url('../fonts/OpenSansHebrew-ExtraBold.woff') format('woff');           
    font-weight:normal;
    font-style:normal;}
	
@font-face {font-family:'OpenSansHebrew-Light';
    src:url('../fonts/OpenSansHebrew-Light.woff') format('woff');           
    font-weight:normal;
    font-style:normal;}
		
strong{font-weight:normal;font-family:'OpenSansHebrew-Bold';}


/**/
@font-face {
    font-family: 'fbspoileren';
    src: url('../fonts/fbspoileren-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/fbspoileren-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    /*url('../webfont.woff2') format('woff2'), *//* Super Modern Browsers */
    url('../fonts/fbspoileren-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fbspoileren-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fbspoileren-regular-webfont.svg') format('svg'); /* Legacy iOS */
}