@charset "utf-8";
/* CSS Document */
/* RESET */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li, input, select, textarea,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;} 
h1, h2, h3, h4, h5, h6 { font-weight: normal;}
/* END RESET*/

/* FONTS */
@font-face {
    font-family: 'almoni_tzar_aaalight';
    src: url('../fonts/almonitzaraaa-light.woff2') format('woff2'),
         url('../fonts/almonitzaraaa-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'almoni_tzar_aaaregular';
    src: url('../fonts/almonitzaraaa.woff2') format('woff2'),
         url('../fonts/almonitzaraaa.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* END FONTS */

/*WAI*/
a:focus, input:focus, select:focus { outline: 2px solid lime; }
[aria-hidden="true"] { visibility: hidden; }




/*LAYOUT*/
/*html, body { width: 100%;}*/
body {direction: rtl;font-family: almoni_tzar_aaalight;font-size: 16px;background: url("../images/bg_clean.jpg") no-repeat top center;color: #fff;background-color: #475564;}
/*#top_wrapper {position: relative;height: 100%;}*/

@media screen and (max-width: 1100px) { 

    body {background-size: 1558.4px;}
    #top_wrapper {transform: scale(0.81);-ms-transform: scale(0.81);}
/*    img {    backface-visibility: hidden;}    */
        
    }


#top_wrapper {position: absolute;top: 0;left: 50%;margin-left: -540px;width: 1080px;height: 2360px;transform-origin: top;-ms-transform-origin: top;overflow-x: hidden;}

.black {height: 712px;width: 1125px;position: absolute;box-sizing: border-box;left: 50%;margin-left: -545px;}
.green {height: 912px;position: absolute;box-sizing: border-box;padding-top: 71px;width: 1125px;left: 50%;margin-left: -570px;top: 712px;}
.last {height: 735px;position: absolute;box-sizing: border-box;padding-top: 79px;width: 1125px;left: 50%;margin-left: -562px;top: 1622px;}

.mobile {display: none;}
.error { background-color: indianred; }
.ltr { direction: ltr}

/* HEADER*/
.first {float: right;position: relative;width: 397px;margin-right: 118px;padding-top: 172px;height: 210px;z-index: 10;}
h1 {width: 90%;padding-bottom: 5px;}
#top_logo {display: block;width: 100%;}
.first p {font-size: 23px;letter-spacing: 0.1px;line-height: 25px;padding-bottom: 16px;}
.orange {width: 166px;height: 41px;border: 2px solid #F78E1E;border-radius: 5px;box-sizing: border-box;margin-right: -1px;font-size: 24px;padding: 7px 9px 0 0;letter-spacing: 0.2px;font-weight: bold;}

#laser {position: absolute;top: 8px;right: 386px;z-index: 0;width: 350px;}

.top-left {float: right;position: relative;margin-right: 208px;width: 300px;}
#stamp {margin-top: 207px;margin-right: 69px;}
#pros {list-style: none;font-size: 19px;padding-top: 30px;}
#pros li {}
#pros #li_1st {background: url('../images/li_1.png') no-repeat top right;padding: 14px 55px 24px 0;letter-spacing: -0.2px;}
#pros #li_2nd {background: url('../images/li_2.png') no-repeat top right;padding: 14px 55px 23px 0;letter-spacing: -0.1px;word-spacing: -0.2px;}
#pros #li_3rd {background: url('../images/li_3.png') no-repeat top right;padding: 13px 55px 12px 0;letter-spacing: -0.2px;}


/*FORM AREA*/
#lead_form {position: absolute;top: 405px;right: 113px;height: 200px;box-sizing: border-box;}
.form-title {font-size: 20px;padding: 1px 1px 5px 0;}
.input-row {width: 95.4%;box-sizing: border-box;padding: 0 3px;height: 33px;margin-bottom: 5.4px;}
.form-input {width: 243px;height: 100%;border: 1px solid #fff;border-radius: 4px;color: #fff; box-sizing: border-box;padding: 3px 6px 0 6px; font-size: 20px;background-color: rgba(0,0,0,0);}
#form_submit {background: url('../images/send.png') no-repeat;border: 0;width: 63px;height: 35px;margin-right: 181px;margin-top: 1px;font-size: 0;}

.approved {clear: both;float: right;margin-top: -3px;margin-right: 57px; margin-top:60px;}
.approved h2 {font-family: almoni_tzar_aaaregular;font-size: 20px;word-spacing: -1px;}

.superfarm {float: right;width: 250px;height: 37px;margin-right: 58px;margin-top: 64px;}
.superfarm span {
    float: right;
    padding-top: 11px;
}
.superfarm img {float: right;display: inline-block;margin-right: 6px;margin-top: 1px;}

#first_down {height: 50px;width: 100px;display: block;position: absolute;top: -13px;right: 504px;z-index: 100;}
#second_down {height: 50px;width: 100px;display: block;position: absolute;top: 897px;right: 44.7%; z-index: 100}
/*form error*/
.hidden-elem { display: none; }
.error-msg {position: absolute;background: #fff;padding: 4px;font-size: 20px;color: #f00;border-radius: 5px;}
.error-msg:after {content: '';border-bottom: 8px solid transparent;border-right: 10px solid #fff;border-top: 8px solid transparent;position: absolute;left: -7px;top: 7px;}
.error-msg.right:after { left: -9px; top: 7px; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 10px solid #fff; }
.error-msg.left:after { left: 84px; top: 7px; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 10px solid #fff; }
.error {border: 1px solid red !important;background: #FF9999;}
span#form_area_error {top: 118px;right: -48px;}
span#form_fullname_error {top: 55px;right: -82px;}
span#form_phone_error {top: 70px;right: -82px;}
span#form_email_error {top: 108px;right: -82px;}


/* PLACEHOLDERS */

.placeholder{opacity:1;opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input::-webkit-input-placeholder, ::-webkit-input-placeholder {opacity:1;opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input:-moz-placeholder, :-moz-placeholder {opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input::-moz-placeholder, ::-moz-placeholder {opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input:-ms-input-placeholder, :-ms-input-placeholder {opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}
#lead_form input::-webkit-input-placeholder {opacity:1;text-align:right!important; direction:rtl!important; color:#fff !important;}


/* thanks */
.thx { position: absolute; top: 412px; right: 116px; box-sizing: border-box; width: 268px; height: 130px; border: 2px solid #fff; border-radius: 6px;}

.thx span { font-size: 29px; text-align: center; display: block; padding-top: 33px; letter-spacing: -0.1px; margin-right: -1px;}


/* GREEN AREA */

.miki {padding: 0 35px;height: 316px;}
.miki h3 {font-size: 29px;padding-right: 9px;padding-bottom: 1.3%;}
#miki {float: right;margin-right: 3px;}
.miki p {float: right;margin-right: 30px;font-size: 32px;padding-top: 5px;line-height: 35px;word-spacing: 0.3px;}
.miki p span {display: block;margin-top: 34px;}
.opinions { height: 410px; margin-top: 14px;}
.opinions h3 {padding-right: 45px;font-size: 29px;}
.opinions ul {list-style: none;padding-right: 46px;padding-top: 19px;height: 360px;padding-bottom: 13px;}
.person {float: right;height: 355px;position: relative;box-sizing: border-box;}
.space { margin-right: 19.3px;}
.person img {/* visibility: hidden; */}
.person h4 {position: absolute;top: 190px;font-size: 21px;padding-right: 16px;letter-spacing: 0.3px;}
h4.extra-space { padding-right: 17px; word-spacing: -1px; letter-spacing: 0.8px;}
.person p { padding: 10px 20px 0 0; font-size: 20px; word-spacing: 1px;}

#link {display: block;position: absolute;bottom: 12px;right: 35px;width: 187px;}
#logo { width: 100%; display: block;}
                 
.vid-box { width: 828px; margin-right: 165px;}

.under-vid {height: 60px;margin-top: -4px;background: #fff;color: #000;box-sizing: border-box;padding-top: 25px;padding-right: 15px;font-size: 22px;font-family: arial;font-weight: bold;letter-spacing: -0.2px;}
#youtube { width: 828px; height:466px;}

